*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 100%;
    height: 100vh;
    background-image: url(pexels-iconcom-719597.jpg);
    background-size: cover;
}

.landing{
    border: 2px solid #000000;
    box-sizing: border-box;
    background: #C4C4C4; 
    position: absolute;
    width: 236px;
    height: 800px;
    left: 21px;
    top: 0;
    opacity: 0.3;
}


.h1{
      color: white;
      font-family: Montaga;
     font-weight: normal;
     font-style: normal;
     position:absolute;
     font-size: 36px;
     line-height: 39.7%;
     width: 185px;
     height: 27px;
     left: 45px;
     top: 14px;
     
}

.h2{
     color: white;
     font-family: Montaga;
     font-weight: normal;
     font-style: normal;
     position:absolute;
     font-size: 24px;
     line-height: 39.7%;
     margin-top: 1.5em;
     margin-left: 6em;
     
}

.h3{
 position: absolute;
 font-family: sanchez;
 font-style: normal;
 font-weight: normal;
 font-size: 48px;
 line-height: 61px;
 color: #FFFFFF;
 width: 159px;
 height: 111px;
 left: 54px;
 top: 150px;
}

.h4{
    position: absolute;
    width: 159px;
    height: 111px;
    left: 54px;
    top: 200px;
    font-family: Sansita One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.h5{
    position: absolute;
    width: 159px;
    height: 111px;
    left: 54px;
    top: 230px;
    font-family: Sansita One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.h6{
   position: absolute;
   width: 191px;
   height: 90px;
   left: 39px;
   top: 260px;
   font-family: Sail;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   color: #FFFFFF;
}

.h7{
   position: absolute;
   width: 119px;
   height: 33px;
   left: 75px;
   top: 361px;
   background: #6D95BE;

}

.h7:hover{
   background: white;
   }

   nav{
     
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     color: white;
     padding: 2% 6%;
     justify-content: space-between;
     display: flex;
     align-items: center;
    
   }

   .nav-link{
    flex: 1;
    text-align: right;
   }

   .nav-link ul li{
       list-style: none;
       display: inline block;
       padding: 8px 12px;
       position: relative;

   }